body {
  background-color: rgb(255, 255, 255);
}
h1 {
  font-family: "League Gothic", sans-serif;
  color: #7a0000;
  font-size: 46px;
  text-align: center;
}
h2 {
  font-family: "League Gothic", sans-serif;
  color: #7a0000;
  font-size: 26px;
  text-align: center;
}

.stories-header {
  color: #7a0000;
}

h3 {
  font-family: "League Gothic", sans-serif;
  color: #000000;
  font-size: 20px;
  text-align: center;
}
h4 {
  color: #13274e;
  font-size: 24px;
}

h5 {
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
  font-size: 36px;
  padding-bottom: 40px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
h6 {
  font-family: "League Gothic", sans-serif;
  color: #13274e;
  font-size: 44px;
  text-align: center;
}

a {
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
  font-size: 15px;
  padding-bottom: 35px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.carousel-link,
.carousel-features {
  font-family: "League Gothic", sans-serif;
  color: #000000;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px;
}
.carousel-inner img {
  width: 100%;
}

#navbardropdown {
  color: #ffff;
}
#navbar {
  background-color: #13274e;
}
.nav-item {
  background-color: rgba(255, 255, 255, 0);
}

.nav-link {
  color: #ffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

#inputs {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #13274e;
  outline: none;
  box-shadow: 0 0 0 1px #13274e inset;
}

/*Social Buttons*/

.fa-facebook {
  color: #ffff;
  font-size: 25px;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}

.fa-twitter {
  color: #ffff;
  font-size: 25px;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.fa-instagram {
  color: #ffff;
  font-size: 25px;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.fa-pinterest {
  color: #ffff;
  font-size: 25px;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.fa-reddit {
  color: #ffff;
  font-size: 25px;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
}
.fa-youtube {
  color: white;
  font-size: 25px;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
}
.section-title {
  color: #7a0000;
  font-size: 25px;
  text-align: center;
}

#row-background {
  background-color: #111;
  color: white;
}
